<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.josephblough.fluchallenge"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />

    <application android:icon="@drawable/icon" android:label="@string/app_name" android:name=".ApplicationController">
        <activity android:name=".activities.ListPresentation"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.TabbedPresentation"
                  android:label="@string/app_name" />

        <activity android:name=".activities.FluChallenge"
                  android:label="@string/app_name" />

        <activity android:name=".activities.FluActivityReport"
                  android:label="@string/app_name" />

        <activity android:name=".activities.FluUpdates"
                  android:label="@string/app_name" />

        <activity android:name=".activities.FluPodcasts"
                  android:label="@string/app_name" />

        <activity android:name=".activities.FluPages"
                  android:label="@string/app_name" />

        <activity android:name=".activities.CdcFeaturePages"
                  android:label="@string/app_name" />

        <activity android:name=".activities.GenericFeedActivity"
                  android:label="@string/app_name" />

        <activity android:name=".activities.SyndicatedFeedTopicsActivity"
                  android:label="@string/related_topics_name" />


        <service android:name=".services.FluActivityReportDownloaderService" 
                android:enabled="true" />
                  
        <service android:name=".services.FluPodcastsFeedDownloaderService" 
                android:enabled="true" />
                  
        <service android:name=".services.FluUpdatesFeedDownloaderService" 
                android:enabled="true" />
                  
        <service android:name=".services.SyndicatedFeedDownloaderService" 
                android:enabled="true" />
                  
        <service android:name=".services.PodcastDownloaderService" 
                android:enabled="true" />
                  
    </application>
    
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
</manifest>